# {{ ansible_managed }}
FileSet {
  Name = "{{ item.name }}"
  Description = "{{ item.description }}"
  Include {
    Options {
      Signature = MD5 # calculate md5 checksum per file
      One FS = No     # change into other filessytems
    }
{% if item.options is defined %}
{%- for option in item.options %}
    Options {
{% for data, suboption in option.items() -%}
{% for line in suboption %}
      {{ line }}
{% endfor -%}
{% endfor %}
    }
{% endfor %}
{% endif %}
{% if item.include_files is defined %}
{% for include_file in item.include_files %}
    File = {{ include_file }}
{% endfor %}
{# item.include_file is deprecated #}
{% else %}
    File = {{ item.include_file }}
{% endif %}
  }
  # Things that usually have to be excluded
  # You have to exclude /var/lib/bareos/storage
  # on your bareos server
  Exclude {
{% for file in bareos_excludes %}
    File = {{ file }}
{% endfor %}
{% if item.exclude_files is defined %}
{% for exclude_file in item.exclude_files %}
    File = {{ exclude_file }}
{% endfor %}
{% endif %}
{# item.exclude_file is deprecated #}
{% if item.exclude_file is defined %}
{% for exclude_file in item.exclude_file %}
    File = {{ exclude_file }}
{% endfor %}
{% endif %}
  }
}
