# {{ ansible_managed }}
Storage {
  Name = "{{ item.name }}"
  Address = "{{ item.bareos_dir_ip }}"
  Password = "{{ bareos_storage_password }}"
  Media Type = {{ item.media_type | default('File') }}
{% for dev in item.device %}
  Device = {{ item.device }}
{% endfor %}
  Maximum Concurrent Jobs = {{ item.conc_jobs | default('50') }}
}
